@media (max-width: 800px) {
    body {
        background-color: #29B6F6;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #29B6F6;
        font-weight: bold;
        font-size: 3vw;
    }
    
    #container {
        background-color: #FFFFFF;
        text-align: center;
        margin: 50% 0%;
        padding: 3% 1%;
        border: 2px solid #29B6F6;
        border-radius: 8px;
    }
    
    img {
        width: 60%;
        border: 2px solid #29B6F6;
        border-radius: 6px;
    }
    
    #logo {
        margin: 2% 2%;
    }
    
    input[type=password] {
        height: 4vw;
        width: 100%;
        border: 2px solid #29B6F6;
        border-radius: 4px;
    }
    
    input:focus {
        outline: none;
    }
    
    .fields {
        margin: 2%;
        padding: 0% 17%;
    }
    
    .label-field {
        text-align: left;
    }
    
    input[type=submit] {
        height: 6vw;
        width: 25%;
        background-color: #29B6F6;
        border: 2px solid #29B6F6;
        border-radius: 4px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 3vw;
        margin: 2%;
    }
    
    #message {
        color: white;
        font-size: 3vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10% 10%;
    }
}

@media (min-width: 800px) {
    body {
        background-color: #29B6F6;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #29B6F6;
        font-weight: bold;
    }

    label {
        font-size: 1.5vw;
    }
    
    #container {
        background-color: #FFFFFF;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 3% 1%;
        border: 2px solid #29B6F6;
        border-radius: 8px;
    }
    
    img {
        width: 60%;
        border: 2px solid #29B6F6;
        border-radius: 6px;
    }
    
    #logo {
        margin: 2% 2%;
    }
    
    input[type=password] {
        height: 3vw;
        font-size: 2vw;
        width: 100%;
        border: 2px solid #29B6F6;
        border-radius: 4px;
        text-align: center;
    }
    
    input:focus {
        outline: none;
    }
    
    .fields {
        margin: 2%;
        padding: 0% 17%;
    }
    
    .label-field {
        text-align: left;
    }
    
    input[type=submit] {
        height: 4vw;
        background-color: #29B6F6;
        border: 2px solid #29B6F6;
        border-radius: 4px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 2vw;
        margin: 2%;
    }
    
    #message {
        color: white;
        font-size: 3vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10% 10%;
    }
}
